
<p class="heading-dialog">Favedom would like to send You </p>
<p class="center-dialog"> Notifications</p>
<div mat-dialog-content >
  <p class="text-dialog-1">Get updated when Faved celebs go</p>
  <p class="text-dialog-1">live or post new events and content</p>

  <p class="text-dialog-1">Notifications may include alerts,sounds,</p>
  <p class="text-dialog-1">and icon badges.updates can be made</p>
  <p class="text-dialog-1">in settings</p>

</div>
<mat-divider ></mat-divider>
<div mat-dialog-actions>
  <button mat-button (click)="onDontAllow()">Don't Allow</button>
  <button mat-button (click)="onAllow()" cdkFocusInitial>Allow</button>
</div>

