<div class="header">
    <div style="padding-top: 40px;display: table;width: 100%;">
        <div style="display:table-cell;padding-left: 10px;"><img  src="../../assets/images/menu-icon.png" height="30" width="30" (click)="inputSideNav.toggle()"></div>
        <div style="display:table-cell;text-align: center;"><img src="../../assets/images/Faves.png" height="30" width="30"></div>
        <div style="display:table-cell;text-align: end;padding-right: 10px;"><img src="../../assets/images/Profile.png" height="30" width="30" (click)="submitLogin()" ></div>
    </div>
</div>