// @import "../../assets/Theme/background";
.header{
    background-image: linear-gradient(to right, #FF696D, #FFC371);;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}