@import "../../assets/Theme/background";

#loginForm {
  // margin: 20% auto;
  .image-icon {
    width: 100px;
    height: 105px;
  }
  .image-left {
    float: left;
  }
  .red-text {
    font-size: 10px;
    color: red;
    text-align: center;
  }
  padding-top: 80px;
  button {
    margin: 5% auto;
  }
  .loginBtn {
    width: 80%;

    max-width: 400px;
    @include btnStyle(16, 12, 20, 20, #ff696d, white, 30, 20);
  }
  .forgot {
    color: white;
    margin-top: 30px;
    opacity: 0.7;
    display: block;
    font-size: 12px;
  }
}
