<div class="background">
  <div id="log-register">
    <img src="../../assets/images/Faves.png" alt="logo" height="80px"
    class="image-icon"/>
    <h1>Favedom</h1>
    <mat-divider class="top-divder"></mat-divider>
    <p>Your once in a lifetime moment starts now.</p>
    <mat-divider class="bottom-divder"></mat-divider>
  
   
      <button mat-stroked-button class="loginBtn" (click)="submitLoginpage()">LOGIN</button>
      <button mat-stroked-button class="secondaryBtn register" (click)="submitRegisterpage()">REGISTER</button>

    </div>
  </div>
  
