<div>
  <button mat-icon-button (click)="closePrompt()" class="closeBtn">
    <mat-icon>close</mat-icon>
  </button>
  <div class="content">
    <img src="../../assets/images/Faves.png" alt="logo" height="80px" />
    <h1>Favedom</h1>
    <mat-divider></mat-divider>
    <h1>Ready to join the fam?</h1>
    <mat-divider></mat-divider>
    <p>Chat 1-on-1 with your Faves</p>
    <p>Unlock exclusive content</p>
    <p>Get notified when your Faves are live</p>
    <button mat-stroked-button class="signupBtn">SIGN UP</button>
    <small class="caption">Not just yet</small>
  </div>
</div>
