<app-layout-header [inputSideNav]="drawer"></app-layout-header>
<mat-drawer-container class="example-container" autosize id="sidenavContainer">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="1" routerLinkActive="active">
        <div class="sidenav-list">
          <img src="../../assets/images/Faves1.png" class="sidenav-list-text" />
          <h5 class="lead">My Faves</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="2" routerLinkActive="active">
        <div class="sidenav-list">
          <img
            src="../../assets/images/Calendar.png"
            class="sidenav-list-text"
          />
          <h5 class="lead">My Events</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="3" routerLinkActive="active">
        <div class="sidenav-list">
          <img
            src="../../assets/images/Content.png"
            class="sidenav-list-text"
          />
          <h5 class="lead">My Content</h5>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="1" routerLinkActive="active">
        <div class="sidenav-list">
          <img src="../../assets/images/Search.png" class="sidenav-list-text" />
          <h5 class="lead">Search</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="2" routerLinkActive="active">
        <div class="sidenav-list">
          <img
            src="../../assets/images/Schedule.png"
            class="sidenav-list-text"
          />
          <h5 class="lead">Schedule</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="3" routerLinkActive="active">
        <div class="sidenav-list">
          <img src="../../assets/images/Events.png" class="sidenav-list-text" />
          <h5 class="lead">Events</h5>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="1" routerLinkActive="active">
        <div class="sidenav-list">
          <img
            src="../../assets/images/Settings.png"
            class="sidenav-list-text"
          />
          <h5 class="lead">Settings</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="2" routerLinkActive="active">
        <div class="sidenav-list">
          <img src="../../assets/images/Help.png" class="sidenav-list-text" />
          <h5 class="lead">Help</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="3" routerLinkActive="active">
        <div class="sidenav-list">
          <img src="../../assets/images/Logout.png" class="sidenav-list-text" />
          <h5 class="lead">Logout</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content" *ngIf="initial">
    <mat-card class="example-card">
      <mat-card-content>
        <mat-tab-group class="customTab">
          <mat-tab label="Discover">
            <h3>Live Now</h3>
            <mat-card
              class="example-small-card"
              *ngIf="liveDataPresent"
              (click)="getCelebrity(lives[0]['node']['celebrity'])"
            >
              <img
                mat-card-image
                [src]="lives[0]['node']['thumbnailUrl']"
                height="100"
                class="display-big-image"
              />

              <mat-card-actions class="flex-container">
                <div class="livebutton">LIVE</div>
                <div class="liveside">
                  <p style="font-size: 10px;" class="mb0">
                    {{ lives[0]["node"]["celebrity"]["firstName"] }}
                    <span
                      class="material-icons vertical-Bottom"
                      style="float: right;"
                    >
                      navigate_next
                    </span>
                  </p>
                </div>
              </mat-card-actions>
            </mat-card>
            <br />
            <div *ngIf="liveDataPresent" class="celebrity-cards-flex">
              <div *ngFor="let live of lives; let i = index">
                <mat-card
                  class="example-very-small-card"
                  *ngIf="i != 0"
                  (click)="getCelebrity(live['node']['celebrity'])"
                >
                  <img
                    mat-card-image
                    [src]="live['node']['thumbnailUrl']"
                    class="display-small-image"
                  />

                  <!-- <mat-card-actions  class="flex-container" > -->
                  <div class="livebutton">LIVE</div>
                  <!-- </mat-card-actions> -->
                </mat-card>
                <p class="celebrityName" *ngIf="i != 0">
                  {{ live["node"]["celebrity"]["firstName"] }}
                </p>
              </div>
            </div>
            <h3>Popular</h3>
            <div *ngIf="liveDataPresent" class="celebrity-cards-flex">
              <div *ngFor="let live of lives; let i = index">
                <mat-card
                  class="example-very-small-card"
                  *ngIf="i != 0"
                  (click)="getCelebrity(live['node']['celebrity'])"
                >
                  <img
                    mat-card-image
                    [src]="live['node']['thumbnailUrl']"
                    class="display-small-image"
                  />
                </mat-card>
                <p class="celebrityName" *ngIf="i != 0">
                  {{ live["node"]["celebrity"]["firstName"] }}
                </p>
              </div>
            </div>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip>Movies</mat-chip>
              <mat-chip>Music</mat-chip>
              <mat-chip>Comic Books</mat-chip>
              <mat-chip>Television</mat-chip>
              <mat-chip>Athletes</mat-chip>
              <mat-chip>Models</mat-chip>
              <mat-chip>Wrestling</mat-chip>
              <mat-chip>Internet</mat-chip>
              <mat-chip>More...</mat-chip>
            </mat-chip-list>
            <input
              class="search-control"
              type="text"
              name="search"
              autocomplete="off"
              placeholder="search by Name,Category,Known for"
            />
            <h3>Top Athletes</h3>
            <div *ngIf="liveDataPresent" class="celebrity-cards-flex">
              <div *ngFor="let live of lives; let i = index">
                <mat-card
                  class="example-very-small-card"
                  *ngIf="i != 0"
                  (click)="getCelebrity(live['node']['celebrity'])"
                >
                  <img
                    mat-card-image
                    [src]="live['node']['thumbnailUrl']"
                    class="display-small-image"
                  />
                </mat-card>
                <p class="celebrityName" *ngIf="i != 0">
                  {{ live["node"]["celebrity"]["firstName"] }}
                </p>
              </div>
            </div>
            <h3>Top Movie Stars</h3>
            <div *ngIf="liveDataPresent" class="celebrity-cards-flex">
              <div *ngFor="let live of lives; let i = index">
                <mat-card
                  class="example-very-small-card"
                  *ngIf="i != 0"
                  (click)="getCelebrity(live['node']['celebrity'])"
                >
                  <img
                    mat-card-image
                    [src]="live['node']['thumbnailUrl']"
                    class="display-small-image"
                  />
                </mat-card>
                <p class="celebrityName" *ngIf="i != 0">
                  {{ live["node"]["celebrity"]["firstName"] }}
                </p>
              </div>
            </div>
            <h3>Popular Event</h3>
            <mat-card
              class="example-small-card"
              *ngIf="liveDataPresent"
              (click)="getCelebrity(lives[0]['node']['celebrity'])"
            >
              <img
                mat-card-image
                [src]="lives[0]['node']['thumbnailUrl']"
                alt="Photo of a Shiba Inu"
                height="100"
                class="display-big-image"
              />

              <mat-card-actions class="flex-container">
                <div class="livebutton">LIVE</div>
                <div class="liveside">
                  <p style="font-size: 10px;" class="mb0">
                    {{ lives[0]["node"]["celebrity"]["firstName"] }}
                    <span
                      class="material-icons vertical-Bottom"
                      style="float: right;"
                    >
                      navigate_next
                    </span>
                  </p>
                </div>
              </mat-card-actions>
            </mat-card>
            <h3>Live Today</h3>
            <div *ngIf="liveDataPresent" class="celebrity-cards-flex">
              <div *ngFor="let live of lives; let i = index">
                <mat-card
                  class="example-very-small-card"
                  *ngIf="i != 0"
                  (click)="getCelebrity(live['node']['celebrity'])"
                >
                  <img
                    mat-card-image
                    [src]="live['node']['thumbnailUrl']"
                    class="display-small-image"
                  />
                </mat-card>
                <p class="celebrityName" *ngIf="i != 0">
                  {{ live["node"]["celebrity"]["firstName"] }}
                </p>
              </div>
            </div>
            <h3>New Content</h3>
            <div *ngIf="liveDataPresent" class="celebrity-cards-flex">
              <div *ngFor="let live of lives; let i = index">
                <mat-card
                  class="example-very-small-card"
                  *ngIf="i != 0"
                  (click)="getCelebrity(live['node']['celebrity'])"
                >
                  <img
                    mat-card-image
                    [src]="live['node']['thumbnailUrl']"
                    class="display-small-image"
                  />
                </mat-card>
                <p class="celebrityName" *ngIf="i != 0">
                  {{ live["node"]["celebrity"]["firstName"] }}
                </p>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="My Faves">My Faves</mat-tab>
          <mat-tab label="Schedule">Schedule</mat-tab>
          <mat-tab label="Events">Events </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!initial">
    <app-fave (child1EventEmitter)="isDataPresent($event)"></app-fave>
  </div>
</mat-drawer-container>
