<div class="background">
  <div id="loginForm">
    <img
      src="../../assets/images/Faves.png"
      alt="logo"
      height="80px"
      class="image-icon"
    />
    <h1>Favedom</h1>
    <p>Let's get Registered</p>
    <div style="margin-top: 60px;">
      <form
        #userForm="ngForm"
        (ngSubmit)="confirmUser(userForm, userForm.valid)"
      >
        <mat-form-field appearance="standard" hideRequiredMarker>
          <mat-label
            ><i class="far fa-user-circle" class="image-left"></i
            >Email</mat-label
          >
          <!-- <span matPrefix>+1 &nbsp;</span> -->
          <input
            matInput
            required
            ngModel
            type="text"
            name="email"
            autocomplete="off"
            #email="ngModel"
          />
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            <mat-error *ngIf="email.errors?.required">
              Email is <strong>required</strong></mat-error
            >
          </mat-error> </mat-form-field
        ><br />
        <mat-form-field appearance="standard" hideRequiredMarker>
          <mat-label
            ><i class="fa fa-lock" class="image-left"></i>Password</mat-label
          >
          <!-- <span matPrefix>+1 &nbsp;</span> -->
          <input
            matInput
            required
            ngModel
            type="password"
            name="password"
            autocomplete="off"
            #password="ngModel"
          />
          <mat-error
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            <mat-error *ngIf="password.errors?.required">
              Password is <strong>required</strong></mat-error
            >
          </mat-error> </mat-form-field
        ><br />
        <mat-form-field appearance="standard" hideRequiredMarker>
          <mat-label
            ><i class="fa fa-lock" class="image-left"></i>Password</mat-label
          >
          <!-- <span matPrefix>+1 &nbsp;</span> -->
          <input
            matInput
            required
            ngModel
            type="password"
            name="password"
            autocomplete="off"
            #password="ngModel"
          />
          <mat-error
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            <mat-error *ngIf="password.errors?.required">
              Password is <strong>required</strong></mat-error
            >
          </mat-error> </mat-form-field
        ><br />
        <p class="red-text" *ngIf="loginDoesNotExit">Invalid Credentials</p>
        <button mat-stroked-button class="loginBtn">ENTER</button>
      </form>
      <a href="#" class="forgot">Login</a>
    </div>
  </div>
</div>
